@model ProfileIndexViewModel
@using System.Security

<h2>Profile</h2>
 Welcome @User.Identity.Name
 

<p>First Name: @Model.FirstName </p>
<p>First Name: @Model.LastName </p>



<a href="@Url.Action("UpdateProfile", "Profile", new { id = Model.ProfileId })" class="btn btn-warning">
    Update Profile
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
</a>

<br />
<br />
<p> Total Address found: @Model.Total</p>
<div class="col-8">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>  Id </th>
                <th> Addrress </th>
                <th> City </th>
                <th> State</th>
                <th> ZipCode</th>
                <th> Default</th>  
                <th> Edit</th> 
                <th>Del</th>         
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Address)
            {
                <tr>
                    <td>@item.AddressId</td>
                    <td>@item.AddressUser</td>
                    <td>@item.City</td>
                    <td>@item.State</td>
                    <td>@item.ZipCode</td>
                    <th>@item.Default</th>
                    <td>@Html.ActionLink("...Edit", "UpdateAddress", "Profile", new { id = item.AddressId })</td>
                    <td>@Html.ActionLink("...Delete", "DeleteAddress", "Profile", new { id = item.AddressId })</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<a href="@Url.Action("CreateAddress", "Profile")" class="btn btn-warning">
    Add new Address
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
</a>


